#div {height:200px
    width:200px ; 
    background-color:black;

}

#header{margin-left:530px;
    color:whitesmoke; 
    font-family: "Libre Baskerville", sans;
    text-transform: uppercase;
} /*leaving it here because it's 10:00pm and I'm tired, fuck it's hard to remember stuff for CSS sometimes, I can't remember how to add a font into CSS fully, especially on a separate file
I also don't know how to align the text in the centre, perhaps need to do in HTML not CSS?*/

#text{color:white;
    margin-left: 360px; padding-bottom:50px; font-size: larger;
}

#image{height:450px; 
    width: ; 
    border:5px solid gold;
    margin-left: 470px; 
    margin-top:10px;
    padding-bottom: 20px;
}
